<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AudioObjects" version="1.0.0.38823" targetFramework="net45" />
  <package id="Bass.Net" version="1.0.0" targetFramework="net45" />
  <package id="BASS.NET.Objects" version="1.0.5242.31312" targetFramework="net45" />
  <package id="TagLibSharp" version="2.3.0" targetFramework="net48" />
</packages>